<li class="carousel__item">
  <a href="{{ item.link }}" title="{{ item.title }}">
    <figure>
      {% if page.loading == "lazy" %}
      <img class="block width-100%" loading="lazy" src="https://media.tiierisch.de/img/placeholder-small.png"
      data-src="https://media.tiierisch.de/logos-png/{{ item.img }}.png" alt="{{ item.title }}" />
      {% else %}
      <img class="block width-100%" src="https://media.tiierisch.de/logos-png/{{ item.img }}.png" alt="{{ item.title }}" />
      {% endif %}
    </figure>
  </a>
</li>