---
layout: default
---

    <article class="padding-y-xl border-top">
      <div class="grid gap-md margin-y-md">
        {% contentblock willkommen-title %}
        <div class="col-6@md">{% contentblock willkommen-links %}</div>
        <div class="col-6@md">{% contentblock willkommen-rechts %}</div>
        {% contentblock produktauswahl-title %}
        <div class="col-6@md">{% contentblock produktauswahl-links %}</div>
        <div class="col-6@md">{% contentblock produktauswahl-rechts %}</div>
        {% contentblock service-title %}
        <div class="col-6@md">{% contentblock service-links %}</div>
        <div class="col-6@md">{% contentblock service-rechts %}</div>
      </div>
    </article>
