---
layout: default
---

{% if page.slider-cards %}
  <section class="overflow-hidden">
    <div
      class="carousel carousel-v3 flex flex-column container max-width-md js-carousel"
      data-drag="on"
      data-loop="off"
      data-overflow-items="on">
      <h2 class="text-md margin-y-md">{{ content }}</h2>

      <div class="carousel__wrapper position-relative">
        <ol class="carousel__list">
          {% for item in page.slider-cards %}{% if item.render == true%}
            <li class="carousel__item">{% include card.html %}</li>{% endif %}
          {% endfor %}
        
        </ol>

        <nav class="no-js:is-hidden">
          <ul class="position-absolute top-0 left-0 bottom-0 right-0 pointer-events-none flex items-center justify-between">
            <li>
              <button class="reset carousel-v3__control carousel-v3__control--prev js-carousel__control js-tab-focus">
                <svg class="icon" viewBox="0 0 20 20">
                  <title>zurück</title>
                  <polyline
                    points="13 2 5 10 13 18"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4" />
                </svg>
              </button>
            </li>

            <li>
              <button class="reset carousel-v3__control carousel-v3__control--next js-carousel__control js-tab-focus">
                <svg class="icon" viewBox="0 0 20 20">
                  <title>vor</title>
                  <polyline
                    points="7 2 15 10 7 18"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4" />
                </svg>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
{% endif %}
