---
layout: default
---

    {% if page.faq %}
    <script type="application/ld+json">
      {"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{% for item in page.faq %}{"@type":"Question","name":"{{item.question}}","acceptedAnswer":{"@type":"Answer","text":"{{item.answer}}"}}{% if forloop.last == false %},{% else %}]}
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
  </head>
  <body>
    <article class="padding-y-lg">
      <div class="container max-width-adaptive-sm">
        <div class="line-height-lg v-space-md">
          {{ content }} 
          {% if page.faq %} {% include faq-schema-content.html %}
          {% endif %}
        </div>
      </div>
    </article>
    
